[submodule "cost-optimization"]
	path = cost-optimization
	url = https://github.com/kishoreismac/Cost-Optimization-App
[submodule "octopets-demo"]
	path = octopets-demo
	url = https://github.com/kishoreismac/k-octopet
[submodule "proactive-reliability-demo"]
	path = proactive-reliability-demo
	url = https://github.com/kishoreismac/proactive-reliability
[submodule "sre-demo-docs"]
	path = sre-demo-docs
	url = https://github.com/kishoreismac/sre_demo
[submodule "security-demo-app"]
	path = security-demo-app
	url = https://github.com/kishoreismac/Security-Demo-App
